#Default node modules (npm install)
/node_modules/*

#We don't want Keys to be leaked right ^^
/nodemon.json
/CONFIG.json.mk
/package-lock.json
/BotConfig.json
/.idea/*
/.idea/FrostBot Discord.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml